# http://editorconfig.org
# Inspired by Django .editorconfig file

root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.md]
max_line_length = 80

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
